
/* @font-face {
  font-family: 'iconfont';  
  src: url('https://at.alicdn.com/t/font_1686843_iiyhhjnr7uq.eot');
  src: url('https://at.alicdn.com/t/font_1686843_iiyhhjnr7uq.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1686843_iiyhhjnr7uq.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1686843_iiyhhjnr7uq.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1686843_iiyhhjnr7uq.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1686843_iiyhhjnr7uq.svg#iconfont') format('svg');
} */

@font-face {
  font-family: 'iconfont';  
  src: url('./iconfont.eot');
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xia:before {
  content: "\e65f";
}

.icon-icon-arrow-top:before {
  content: "\e669";
}

.icon-liebiao:before {
  content: "\e785";
}

.icon-chazhaobiaodanliebiao:before {
  content: "\e76a";
}

.icon-zonglan:before {
  content: "\e6a7";
}

.icon-shoucang-tianchong:before {
  content: "\e609";
}

.icon-shoucang1:before {
  content: "\e62d";
}

.icon-shoucang2:before {
  content: "\e60e";
}

